<div align="center"><object width="1200" height="720"><param name="movie" value="http://www.embeddablegames.net/embedgames/7bass-fis.swf"><param name="quality" value="high"><embed src="http://www.embeddablegames.net/embedgames/7bass-fis.swf" quality="high" width="640" height="400" type="application/x-shockwave-flash" pluginspage= "http://www.macromedia.com/go/getflashplayer"></embed></object><br/><a href="http://www.knugo.com"><strong></strong></a></div>
<p>